{% extends "base.html" %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="index">Home</a></li>
</ul>
<center>
    <h1>Signin</h1>
    <div class="sinin_box" >
   
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="emailcom">
            {{ form.email1.label }}
            {{ form.email1(size=32) }}<br>
            {% for error in form.email1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="paskeycom">
            {{ form.paskey.label }}
            {{ form.paskey(size=32) }}<br>
            {% for error in form.paskey.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <div class="rembar">
        <p>{{ form.remember_me() }} 
        {{ form.remember_me.label }}</p>
        <p>{{ form.submit1() }}</p>
        </div>
    
    </form>
</div>
<br>
<p> Don't have and account <a href="register">Register here</a> </p>
</center>
{% endblock %}